.venv/
.env
.vscode/
__pycache__/
*.py[cod]
*.egg-info/
.ruff_cache/
.pytest_cache/
.mypy_cache/
pyrightconfig.json
temp.txt
.utils/
TODO
/.vs/

backend/.env
frontend/.env
subscriptionPage/.env

caddy/Caddyfile
backups/

frontend/node_modules/
frontend/dist/

subscriptionPage/node_modules/
subscriptionPage/dist/