{{PANEL_DOMAIN}} {
    handle_path /api/* {
        reverse_proxy api:8000
    }

    handle {
        root * /srv/frontend/dist
        try_files {path} /index.html
        file_server
    }
}


{{SUB_DOMAIN}} {
    @check path_regexp check ^/(?P<id>[^/]+)/check$

    handle @check {
        rewrite * /sub/{re.id}/check
        reverse_proxy api:8000
    }

    @browser header_regexp browser User-Agent (?i)^Mozilla/

    handle @browser {
        root * /srv/subscriptionPage/dist
        try_files {path} /index.html
        file_server
    }

    handle {
        rewrite * /sub{uri}
        reverse_proxy api:8000
    }
}