RW_API_URL=
RW_API_TOKEN=
RW_CADDY_TOKEN=

DB_HOST=postgres
DB_PORT=5432
POSTGRES_USER=olcwave
POSTGRES_PASSWORD=strong_password_here
POSTGRES_DB=main

ADMIN_USERNAME=admin
ADMIN_PASSWORD=strong_password_also_here

JWT_SECRET_KEY=change_me
SETTINGS_ENCRYPTION_KEY=change_me
JWT_EXPIRE_MINUTES=1440

# Optional
# changes user check from "User exists in rw?"
# to "User with this external squad exists?" 
RW_SQUAD_NAME=